<!DOCTYPE html>
<html>
<head>
    <title>Comparar Arquivos CSV</title>
</head>
<body>
    <h1>Comparar Arquivos CSV</h1>
    <form action="/compare" method="post" enctype="multipart/form-data">
        <label for="file1">Escolha o primeiro arquivo CSV:</label>
        <input type="file" id="file1" name="file1" accept=".csv"><br>
        <label for="file2">Escolha o segundo arquivo CSV:</label>
        <input type="file" id="file2" name="file2" accept=".csv"><br>
        <input type="submit" value="Comparar">
    </form>
</body>
</html>
